/* Efecto de seguimiento circular(Nececita js) */
.nav-link{
    background: radial-gradient(130px at var(--x,0) var(--y,0),white,rgba(0, 0, 0, 0.2)), transparent;
    -webkit-background-clip: text;
}
.nav-link:hover{ /* Cuando pasa el mouse sobre un link */
    color:rgba(0, 0, 0, 0) !important;
}

/************************************************************ Navbar Menu ****************************************************************/
/* Contenedor del menu */
.menu-container {
    display: flex; /* Para centrar verticalmente el contenido del logo si es necesario */
    width: 90%;
    height: 82px;
    top: 0;
    position: sticky; /* Se mantiene en su posicion en la pantalla */
    z-index: 100;/* Permite dar prioridad al sobreponerse con otros elementos */
    gap: 20px; /* Espacio entre los elementos */
    margin: 0 5% 0 5%;
}
/* Contenedor del div (Contiene todos los elementos, menos el nav) */
.navmenu {
    display: flex;
    justify-content: center;
    width: 100%;
    user-select: none;
    /*height: 100vh;*/
}

/********************************************* Boton Central ********************************************************/
/* Boton formato label */
.navmenu .central {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -4px;
    /* top: 98px; */
    cursor: pointer;
    transition: top 2s, border-radius 1s, background-color .3s;
    z-index: 99;
}
/* Primera capa del boton */
.navmenu .central::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, transparent 25%, rgba(255,255,255));
    transition: border-radius 1s, background-color .3s;
    z-index: -2;
}

/* Segunda capa del boton */
.navmenu .central::after {
    content: '';
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    backdrop-filter: blur(15px);
    border-radius: 50%;
    background-image: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 1));
    transition: border-radius 1s, background-color .3s;
    z-index: -1;
}

/* Efecto de la segunda capa sobre el boton */
.navmenu .central:hover::after{
    transition: border-radius 1s, background-color .3s;
    filter: drop-shadow(0 0 10px var(--white-color));
    background-image: radial-gradient(circle, transparent 20%, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 1));
}

/* Desaparece los iconos del boton, si el boton es presionado(Interactua un checkbox oculto) */
.navmenu .central .close,
.navmenu > input:checked ~ .central .open {
    display: none;
}

/* Muestra el boton de cerrar al checkear el checkbox  */
.navmenu > input:checked ~ .central .close { /* ~ == alt + 126 */
    display: block;
    color: var(--white-color);
    opacity: 1;
}

/* Efecto al cerrar el menu */
.navmenu > input:checked ~ .central::before, 
.navmenu > input:checked ~ .central::after { /* ~ == alt + 126 */
    transition: border-radius .3s;
    border-radius: 0 0 50% 50%;
}
.navmenu > input:checked ~ .central::before {
    background-image: linear-gradient(to bottom, transparent 5%, var(--white-color));
}

/* Posicion del boton al abrir el menu */
.navmenu > input:checked ~ .central{
    transition: top .3s ease;
    top: 78px;
}
/********************************************************************************************************************/

/*********************************************** Menu Superior ******************************************************/
/* Lista del menu superior */
.menu {
    position: relative;
    margin: 0;
    display: flex;
    width: 0%;
    height: 100%;
    padding-left: 0px; /* Por alguna razon se genera un padding */
    margin-bottom: 0px; /* Por alguna razon se genera un margen */
    justify-content: space-around;
    overflow: hidden;
    opacity: 0;
    transform: translateY(40px);
    border-radius: 0 0 30px 30px;
    backdrop-filter: blur(15px);
    transition: all 0.7s ease, width .5s ease;
}
/* Primera capa de la barra del menu */
.menu::before{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: linear-gradient(to bottom, transparent 50%, var(--white-color));
    border-radius: 0 0 30px 30px;
    transition: all 0.3s ease, background-image 0.7s;
    z-index: -2;
}
/* Segunda capa de la barra del menu */
.menu::after {
    content: '';
    position: absolute;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    background-color: var(--secodary-color);
    border-radius: 0 0 30px 30px;
    z-index: -1;
    opacity: .5;
}

/* Se despliega el menu principal */
.navmenu > input:checked ~ ul.menu{
    opacity: 1;
    width: 100%;
    transition: width .7s, opacity .7s;
    transform: translateY(0px);
}

/* Contenedores de los botones del menu */
.navmenu ul.menu li{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Boton de redireccionamiento url */
.navmenu ul.menu li a{
    position: relative;
    top: -2px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;   /* Centrado horizontal */
    align-items: center;       /* Centrado vertical */
    width: 100%;
    height: 100%;
}
/* Primera capa del boton */
.navmenu ul.menu li a::before {
    content: ''; /* Sin el content no funciona */
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: linear-gradient(to bottom, transparent 10%, var(--white-color));
    opacity: 0;
    transition: opacity .3s;
    z-index: -3; /* -2 y -1 son las capas adicionales de la clase menu, es una combinacion de 4 capas, aplicada para cada item */
}
/* Segunda capa del boton */
.navmenu ul.menu li a::after {
    content: ''; /* Sin el content no funciona */
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: radial-gradient(75px at var(--x,0) var(--y,0), transparent 20%, rgba(0, 0, 0, 1));
    opacity: 0;
    transition: opacity .3s;
    z-index: -4; /* Se podria juntar las cuatros capas en un solo elemento, pero esto se activa para cada boton por separado */
}

/* Efecto sobre el boton(Activa las capas) */
.navmenu ul.menu li a:hover::after,
.navmenu ul.menu li a:hover::before {
    opacity: 1;
}

/* Contenedor del span e icono */
.navmenu ul.menu li a div {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;   /* Centrado horizontal */
    align-items: center;       /* Centrado vertical */
    color: white;
    width: 100%;
    height: 100%;
}
.navmenu ul.menu li a:hover div {
    filter: drop-shadow(0 0 5px var(--white-color));
    transition: filter .3s;
}
/* Primer elemento <li> */
.navmenu ul.menu li:first-child a::after,
.navmenu ul.menu li:first-child {
    border-radius: 0 0 0 30px; /* Esquinas superiores redondeadas */
}
/* Último elemento <li> */
.navmenu ul.menu li:last-child a::after,
.navmenu ul.menu li:last-child {
    border-radius: 0 0 30px 0; /* Esquinas inferiores redondeadas */
}

/********************************************************* Submenu ****************************************************************/
/* Contenedor de la lista */
.navmenu ul.submenu {
    position: absolute;
    transform: rotate(0deg);
    visibility: hidden;
    transition: visibility .5s;
    top: 0px;
    transition: all 3s ease;
}

/* Al presionar el boton el menu aparece y se reposiciona */
.navmenu > input:checked ~ ul.submenu {
    visibility: inherit;
    transition: top .3s ease;
    top: 81px;
}

/* Al precionar el boton los elementos de la lista se posicionan de forma circular */
.navmenu > input:checked ~ ul.submenu li {
    transform: rotate(calc((-360deg / 8) * var(--item))) translateX(0);
    opacity: 1;
}

/* Propiedades de cada item de la lista */
.navmenu ul.submenu li {
    --item: 1;
    right: 50%;
    position: absolute;
    width: 130px;
    height: 60px;
    transform: rotate(calc((-360deg / 8) * var(--item))) translateX(110px);
    transform-origin: right center;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 3s ease, transform .7s, opacity .2s;
}

/* Por cada item ubicado en la clase submenu, se ajusta la propiedad del item */
.navmenu ul.submenu li:nth-child(2) {
    --item: 2;
}
.navmenu ul.submenu li:nth-child(3) {
    --item: 3;
}
.navmenu ul.submenu li:nth-child(4) {
    --item: 4;
}

/* Elemento a(que contiene el texto y icono) */
.navmenu ul.submenu li a {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Contenedor del elemento i(imagen)  */
.navmenu ul.submenu li a div {
    position:  relative;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: var(--white-color);
    z-index: 1;
}
/* Primera capa del contenedor de imagen */
.navmenu ul.submenu li a div::before {
    content: '';
    font-size: 20px;
    position: absolute;
    width: inherit;
    height: calc(100% - 20px);
    background-color: rgb(255, 255, 255);
    transition: background-color .3s, filter 3s .3s;
    opacity: 0;
    z-index: -2;
}
/* Segunda capa del contenedor de imagen */
.navmenu ul.submenu li a div::after {
    content: '';
    font-size: 20px;
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 50%;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color .3s;
    z-index: -1;
}

/* Cuando se pasa el mouse por el elemnto a, el contenedor de la imagen cambia */
.navmenu ul.submenu li a:hover div {
    transition: filter 3s .3s;
    filter: drop-shadow(0 0 5px var(--white-color));
}
/* Cambia la segunda capa */
.navmenu ul.submenu li a:hover div::after {
    background: radial-gradient(circle, var(--white-color), rgba(0, 0, 0, 1));
}
/* Cambia la primera capa */
.navmenu ul.submenu li a:hover div::before {
    transition: opacity .3s, transform 3s, height 4s;
    transform: rotate(360deg);
    height: calc(100% + 4px);
    opacity: 1;
}

/* Contenedor del texto */
.navmenu ul.submenu li a span {
    position: absolute;
    display: flex;
    right:  calc(100%);
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 15px;
    padding: 0 10px;
    color: var(--white-color);
    border-radius: 20px;
    z-index: -1;
    transform: translateX(50px);
    opacity: 0;
    transition: transform .3s .4s, opacity .2s .4s;
}

/* (IF CSS) [Desde el elemento] > [Elemento hijo del elemento] ~ [Elemento hermano del elemento hijo y hijo del elemento, elemento objetivo] */
/* El contenedor del texto aparece y se modifica al presiona el boton */
.navmenu > input:checked ~ ul.submenu li a span {
    transform: translateX(0);
    transform: rotate(90deg);
    opacity: 1;
}

/* Primera capa del contenedor span */
.navmenu ul.submenu li a span::before {
    content: '';
    position: absolute;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    z-index: -1;
    transition: background-color .3s, opacity .3s;
}

/* Segunda capa del contenedor */
.navmenu ul.submenu li a span::after {
    content: '';
    position: absolute;
    width: calc(100%);
    height: calc(100% - 10px);
    background-color: rgb(255, 255, 255);
    opacity: 0;
    border-radius: 25px;
    z-index: -2;
    transition: background-color 2s;
}

/* Cuando se pasa el cursor sobre el contenedor del icono o texto, el span cambia */
.navmenu ul.submenu li a:hover span {
    transition: filter 3s .3s;
    filter: drop-shadow(0 0 10px var(--white-color));
}
.navmenu ul.submenu li a:hover span::before {
    background-color: rgba(0, 0, 0, 1);
}
.navmenu ul.submenu li a:hover span::after {
    transition: opacity .3s, transform 3s, height 4s, background-color 2s;
    opacity: 1;
    height: calc(100%);
    transform: rotate(360deg);
}

/* Ajusta la rotacion de los iconos individualmente */
.navmenu ul.submenu li:nth-child(1) a i {
    transform: rotate(45deg);
}
.navmenu ul.submenu li:nth-child(2) a i {
    transform: rotate(90deg);
}
.navmenu ul.submenu li:nth-child(3) a i {
    transform: rotate(135deg);
}
/******************************************************************************************************************************************/
/******** Auto resposive ************/
@media (max-width: 991px) { /* Modifica elementos en una determinada resolucion sm*/
    
}