@{
    ViewData["Title"] = "Privacidad";
    Layout = "../Shared/_LayoutAct4.cshtml";
}
@section CSS {
    <!-- CSS específico de esta vista -->
    <link rel="stylesheet" href="~/css/act3.css" />
}

<div class="conte-Text">
    <p>Creo que es suficiente con la primera parte XD</p>
    <div class="conte-img">
        <img src="~/img/Gato.jpg" alt="Gatito" />
    </div>
</div>

