@{
    ViewData["Title"] = "Bienvenido";
    Layout = "../Shared/_LayoutAct4.cshtml";
}


<div class="conte-Text">
    <ul>
        @for (int i = 0; i < (int)ViewData["NumTimes"]!; i++)
        {
            <li>@ViewData["Message"]</li>
        }
    </ul>
</div>

