@{
    ViewData["Title"] = "Actividad 1";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Estas actividades estan alojadas en <a href="https://github.com/J-Joel/Tp_Final_Prog5">GitHub</a>.</p>
</div>
