@{
    ViewData["Title"] = "Privado";
    <!--Layout = "../Shared/_LayoutAct1.cshtml";  Se especifica que layout se utiliza, el por defecto es _Layout.cshtml -->
}
@section Styles {
    <!-- CSS específico de esta vista -->
    <link rel="stylesheet" href="~/css/act1/privado.css" />
}

<h1>@ViewData["Title"]</h1>

<p>Creo que es suficiente con la primera parte XD</p>
<div class="conte-img">
    <img src="~/img/Gato.jpg" alt="Gatito" />
</div>