@{
	ViewData["Title"] = "Inicio";
	Layout = "../Shared/_LayoutAct3.cshtml";
}
@section PanelTitulo {
	Inicio
}
<div class="conte-Text">
	<p>Recuerde que puede acceder a la pantalla de bienvenida mediante la URL con 
		".../Welcome?name=[Valor de parametro]&numtimes=[Valor de parametro]"
	</p>
</div>
