@{
    ViewData["Title"] = "Lista de peliculas"; <!-- ??? -->
    Layout = "../Shared/_LayoutAct3.cshtml";
}

@section PanelTitulo {
        Peliculas
}

<div class="conte-Text">
    <p>¡Hola, todavía está en mantenimiento!</p>
</div>

<!-- <title>@ViewData["Title"] - App Pelis</title>  ???, no esta funcionando como debe, ni con ctrl+F5 -->
