@{
    ViewData["Title"] = "Actividades";
}
<header class="panel-titu">
    <div class="nav-link panel-eff">
        <h1>Actividades</h1>
    </div>
</header>
<!-- Menu de seleccion -->
<div class="navmenu">
    <input type="checkbox" id="central" hidden>
    <label for="central" class="central">
        <i class="open ri-menu-line ri-2x"></i>
        <i class="close ri-close-line ri-2x"></i>
    </label>
    <ul class="submenu">
        <li><a asp-area="Act1" asp-controller="Home" asp-action=""><span>1</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a asp-area="Act2" asp-controller="Home" asp-action=""><span>2</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a asp-area="Act3" asp-controller="Home" asp-action=""><span>3</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a asp-area="Act4" asp-controller="Home" asp-action=""><span>4</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a asp-area="Act5" asp-controller="Home" asp-action=""><span>5</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a asp-area="Act6" asp-controller="Home" asp-action=""><span>6</span><div><i class="ri-computer-line"></i></div></a></li>
        <!--<li><a href="#"><span>7</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a href="#"><span>8</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a href="#"><span>9</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a href="#"><span>10</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a href="#"><span>11</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a href="#"><span>12</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a href="#"><span>13</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a href="#"><span>14</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a href="#"><span>15</span><div><i class="ri-computer-line"></i></div></a></li>
        <li><a href="#"><span>16</span><div><i class="ri-computer-line"></i></div></a></li> -->
    </ul>
</div>

