@{
    ViewData["Title"] = "Privacidad";
}
@section CSS {
    <!-- CSS específico de esta vista -->
    <link rel="stylesheet" href="~/css/Act5/privado.css" />
}

<div class="conte-Text">
    <p>Creo que es suficiente con la primera parte XD</p>
    <div class="conte-img">
        <img src="~/img/Gato.jpg" alt="Gatito" />
    </div>
</div>

