@{
    ViewData["Title"] = "Privacidad";
}
@section CSS {
    <!-- CSS específico de esta vista -->
    <link rel="stylesheet" href="~/css/Act9/privado.css" />
}

<div class="conte-Text">
    <p>
        Ya tengo terminado el CRUD de Películas, se supone que ya estoy aprobado para la materia, ¿no?
    </p>
    <div class="conte-img">
        <img src="~/img/Gato.jpg" alt="Gatito" />
    </div>
</div>

