@{
    ViewData["Title"] = "Actividad 1";
    Layout = "../Shared/_LayoutAct1.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Estas actividades estan alojadas en <a href="https://learn.microsoft.com/aspnet/core">GitHub</a>.</p>
</div>
