@{
    ViewData["Title"] = "Contacto";
    Layout = "../Shared/_LayoutAct1.cshtml";
}
<h1>@ViewData["Title"]</h1>
<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>